---

// import Home from '@components/Home/Index.astro';
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.tsx';
import Footer from '@components/Footer.astro';
import AuthorHeader from '@components/authorHeader.tsx';
import Imgs from '@data/imgs';
// import "@styles/_components/Navbar.scss";

---

<Layout title="André Valério - Composer & Guitarist">
	<Header anime={true} client:load />
	<main style="height: 2000vh;">
		<section 
			class="apresentation"
			{/* TODO: Make SEO atributes */}
		>
			<div class="content">
				<img 
					src={Imgs.cdn.background} alt="André Valério photo" sizes="" srcset=""
					{/* TODO: Make SEO  atributes*/}
				>
				<AuthorHeader headingLevel={2} />

				{/*	
					TODO: Scroll gif
					<img src="" alt="" >
				*/}
			</div>

		</section>
	</main>
	<Footer />
</Layout>

<style lang="scss">
	main {
		.apresentation {
			width: 100%;
			height: 100dvh;

			.content {
				height: 100%;
			}
		}
	}
</style>
