---
// import Home from '@components/Home/Index.astro';
import Layout from '@layouts/Layout.astro';
import Navbar from '@components/Header.tsx';
import Footer from '@components/Footer.astro';
// import "@styles/_components/Navbar.scss";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="André Valério - Composer & Guitarist">
	<Navbar client:load />
	<main style="height: 500vh;">
		Main content
	</main>
	<Footer />
</Layout>


