@use "@styles/variables" as v;

$header-height: 56px;
$h1-width: 250px;
$separator: $h1-width / 2;
$sidebar-transition: 300ms ease-in-out;

@mixin center-hr($position: absolute) {
    position: $position;
    left: 50%;
    transform: translate(-50%);
}

@mixin header-default {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    z-index: 100;
    background-color: var(--black-color);
    height: $header-height;
}

// * Shared styles
header[data-style="Header"] {
    @include header-default();

    & > div {
        height: 100%;
        display: inline-flex;
        align-items: center;
    }

    .nav-item {
        list-style: none;
        .nav-link {
            text-decoration: none;
            color: var(--white-color);
        }
    }

    .page-title {
        @include center-hr(absolute);
        max-height: $h1-width;
        overflow-x: hidden;
        white-space: nowrap;
        cursor: pointer;
        z-index: 10;
    }
}

// * Desktop breakpoint
@media only screen and (min-width: v.$navbar-breakpoint) {
    header[data-style="Header"] {
        & > div {
            width: calc(100% - 25px);
        }

        .author {
            font-size: 2rem;
            font-weight: 700;
        }

        nav {
            width: 100%;
            position: absolute;
            left: 0;

            .nav-list {
                @include center-hr(relative);
                padding: 0;
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                // padding-right: 11vw;

                .nav-item {
                    white-space: nowrap;
                }

                [class^="part"] {
                    display: inline-flex;
                    font-weight: 600;
                    column-gap: 30px;
                    flex-grow: 1;
                    justify-content: center;
                }

                hr {
                    display: none;
                }
            }
        }

        .menu-btn {
            display: none; // Hide Menu button
        }
    }
}

// * Mobile breakpoint
@media only screen and (max-width: #{v.$navbar-breakpoint - 1}) {
    header[data-style="Header"] {
    
        & > div {
            width: clamp(100px, 95%, 99%);
            justify-content: space-between;
        }
    
        .menu-btn {
            all: unset;
            padding-right: 10px;
            color: var(--white-color);
            cursor: pointer;
            font-size: 48px;
            z-index: 10;
    
            &:focus {
                // May need to style later for accessibility reasons...
            }
        }
        
        // * Navbar - mobile
        nav {
            position: fixed;
            background-color: var(--black-color);
            right: 100%;
            bottom: 0;
            height: calc(100% - $header-height);
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        
            &.visible {
                right: 0 !important;
            }
        
            transition: right $sidebar-transition;
        
            .nav-list {
                position: relative;
                width: 100%;
                left: 0;
                padding: 0;
        
                .nav-item {
                    padding: 10px 0 10px 0;
                    font-size: 2rem;
                    margin-left: 20px;
                    
                    a.nav-link {
                        text-align: center;
        
                        &.last-clicked {
                            text-decoration: underline;
                        }
                    }
        
                }
            }
        }
    }
}

// * Page Title media query
@media only screen and (max-width: v.$h1-breakpoint) {
    header[data-style="Header"] {

        .page-title {
            position: fixed !important;
            transform: initial !important;
            bottom: 0;

            transition: left $sidebar-transition;
        }
    }
}

// * Page Title transition
@media only screen and (min-width: #{v.$h1-breakpoint + 1}) {
    header[data-style="Header"] {
        .page-title {
            left: 50% !important;
        }
    }
}

// * Layout quick fix
@media only screen and (max-width: 1060px) and (min-width: v.$navbar-breakpoint) {
    // TODO: Eliminate this media query!
    header[data-style="Header"] {
        .part-1 .nav-item:last-child {
            padding-right: 75px;
        }
    }
}