@use "@styles/variables" as v;
@use "@styles/mixins" as m;
@use "sass:math";
@use "sass:color";

$header: 'header[data-style="Header"]';
$header-height: 56px;
$h1-width: 250px;
$separator: math.div($h1-width, 2);
// @debug "Separator: #{$separator}";
$sidebar-transition: 300ms ease-in-out;
$z-index-high: 2;

@mixin header-default {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    z-index: 100;
    &.scrolled {
        // Function in ts.  PATH: 'utils/handleScroll.ts'
        background-color: var(--black-color);
    }
    background-color: color.adjust($color: v.$black-color, $alpha: -0.8 );
    height: $header-height;

    transition: background-color $sidebar-transition;
}


// * Shared styles
#{header} {
    @include header-default();

    & > div {
        height: 100%;
        display: inline-flex;
        align-items: center;
    }

    .nav-item {
        list-style: none;
        .nav-link {
            text-decoration: none;
            color: var(--white-color);
        }
    }

    .page-title {
        @include m.center-hr(absolute);
        max-height: $h1-width;
        overflow-x: hidden;
        white-space: nowrap;
        cursor: pointer;
        z-index: $z-index-high;
    }

    .logo {
        position: relative;
        z-index: $z-index-high;
    }

}

// * Desktop breakpoint
@media only screen and (min-width: v.$navbar-breakpoint) {
    #{header} {
        & > div {
            width: calc(100% - 25px);
        }

        .author {
            font-size: 2rem;
            font-weight: 700;
        }

        nav {
            width: 100%;
            position: absolute;
            left: 0;

            .nav-list {
                @include m.center-hr(relative);
                padding: 0;
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                // padding-right: 11vw;

                .nav-item {
                    white-space: nowrap;

                    .nav-link {
                        opacity: 0.7;
                        transition: opacity $sidebar-transition;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    .last-clicked {
                        opacity: 1;
                    }
                }

                [class^="part"] {
                    display: inline-flex;
                    font-weight: 600;
                    column-gap: 30px;
                    flex-grow: 1;
                    justify-content: center;
                }

                hr {
                    display: none;
                }
            }
            .social {
                position: fixed;
                left: 0;
                top: 0;
                z-index: 1;
                transform: translateY(v.$desktop-social-top);

                ul {
                    display: flex;
                    flex-direction: column;
                    transform: scale(0.35) translateX(-100%);
                    padding: 0 !important;
                    margin: 0 !important;
                    > * {
                        padding: 20px 0 !important;
                    }
                }
            }
        }
        .menu-btn {
            display: none; // Hide Menu button
        }
    }
}

// * Mobile breakpoint
@media only screen and (max-width: #{v.$navbar-breakpoint - 1}) {
    #{header} {
    
        & > div {
            width: clamp(100px, 95%, 99%);
            justify-content: space-between;
        }
    
        .menu-btn {
            all: unset;
            padding-right: 10px;
            color: var(--white-color);
            cursor: pointer;
            font-size: 48px;
            z-index: $z-index-high;
    
            &:focus {
                // May need to style later for accessibility reasons...
            }
        }
        
        // * Navbar - mobile
        nav {
            position: fixed;
            background-color: var(--primary-color);
            right: 100%;
            bottom: 0;
            height: calc(100% - $header-height);
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        
            &.visible {
                right: 0 !important;
            }
        
            transition: right $sidebar-transition;
        
            .nav-list {
                position: relative;
                width: 100%;
                height: 100%;
                left: 0;
                padding: 0;
        
                .nav-item {
                    padding: 10px 0 10px 0;
                    font-size: 2rem;
                    margin-left: 20px;
                    
                    a.nav-link {
                        text-align: center;
        
                        &.last-clicked {
                            text-decoration: underline;
                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }
            .social {
                position: absolute;
                bottom: 0;
                left: 0;
                @media only screen and (max-width: v.$h1-breakpoint) {
                    bottom: initial;
                }
                ul {
                    overflow: hidden;
                    display: inline-flex;
                    flex-wrap: wrap-reverse;
                    > * {
                        padding: 0 !important;
                        margin: 0 !important;
                        transform: scale(0.6);
                    }
                }
            }
        }
    }
}

// * Page Title media query
@media only screen and (max-width: v.$h1-breakpoint) {
    #{header} {

        .page-title {
            position: fixed !important;
            transform: initial !important;
            bottom: 0;

            transition: left $sidebar-transition;
        }
    }
}

// * Page Title transition
@media only screen and (min-width: #{v.$h1-breakpoint + 1}) {
    #{header} {
        .page-title {
            left: 50% !important;
        }
    }
}

// * Layout quick fix
@media only screen and (max-width: 1200px) and (min-width: v.$navbar-breakpoint) {
    // TODO: Eliminate this media query!
    #{header} {
        .part-1 .nav-item:last-child {
            padding-right: 100px;
        }
    }
}