$header-height: 56px;

header {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    z-index: 100;
    background-color: var(--black-color);
    height: $header-height;

    & > div {
        width: clamp(100px, 95%, 99%);
        height: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-btn {
        all: unset;
        padding-right: 10px;
        color: var(--white-color);
        cursor: pointer;
        font-size: 48px;
        z-index: 10;

        &:focus {
            // May need to style later for accessibility reasons...
        }
    }
}

nav {
    position: fixed;
    background-color: var(--black-color);
    right: 100%;
    bottom: 0;
    height: calc(100% - $header-height);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &.visible {
        right: 0 !important;
    }

    transition: right 300ms ease-in-out;

    .nav-list {
        position: relative;
        width: 100%;
        left: 0;
        padding: 0;

        .nav-item {
            padding: 10px 0 10px 0;
            list-style: none;
            font-size: 2rem;
            margin-left: 20px;
            
            a.nav-link {
                text-align: center;
                color: var(--white-color);
                text-decoration: none;

                &.last-clicked {
                    text-decoration: underline;
                }
            }

        }
    }
}