main {
    .apresentation {
        $height: 100dvh;
        width: 100%;

        .overlay { height: $height !important; }

        .content {
            height: $height;

            img {
                height: 100%;
                z-index: -2;
                user-select: none;
            }

            .author {
                width: fit-content;
                position: relative;
                z-index: 2;
                font-size: clamp(2rem, 5vw, 4.5rem);
                bottom: 33%;
                left: clamp(50px, 10%, 500px);

                span {
                    font-size: small !important;
                }
            }
        }
    }
}