@use "@styles/variables" as v;
@use "@styles/mixins" as m;
@use "@styles/animations" as a;



main {
    $children-gap: 50px;
    display: contents;

    & > *:not(.apresentation) {
        background-color: var(--primary-color);
    }

    .main-content {
        padding: 100px 0 100px 0;
        & > * {
            padding-top: $children-gap;
            padding-bottom: $children-gap;
        }
    }

    // * Apresentation section
    .apresentation {
        background: none !important;
        padding: 0;
        width: 100%;
        $height: v.$apresentation-height;

        .content {
            height: $height;

            .bg-container {
                height: 100%;
                .overlay {
                    height: v.$apresentation-height;
                }
                img {
                    position: fixed;
                    filter: blur(0.5px);
                    z-index: -2;
                    height: 100dvh;
                    top: 0;
                    user-select: none;
                }
            }

            .author {
                // TODO: box-shadow/text-shadow text CSS
                opacity: .9;
                width: fit-content;
                position: relative;
                z-index: 2;
                font-size: clamp(2.5rem, 3vw, 3.5rem);
                bottom: 40%;
                left: clamp(30px, 10%, 500px);

                @media only screen and (max-width: v.$breakpoint-sx) {
                    opacity: 0.8;
                    text-align: center;
                    bottom: 50%;
                    left: 0;
                }
                @include a.slide-in($duration: 700ms);
            }

            & :global(span.author-job) {
                font-size: .50em !important;
                display: inline-block;
                width: 100%;
                text-align: center;
            }

            & :global(div.animated.visible) {
                .author {
                    @include a.slide-in($duration: 700ms);
                }
            }

            // For scrollDown.astro component
            .scroll-container {
                @include m.center-hr(fixed);
                bottom: 0;
            }
        }
        // * Parallax effect
        .parallax {
            // perspective: 1px;
            // transform-style: preserve-3d;

            .parallax__fixed {
                z-index: -2;
            }
        }
    }

    // * About section
    .about {
        margin-inline: auto;
        background: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 40px;

        .content {
            max-width: clamp(100px, 50vw, 750px);
            h2 {
                font-size: 2rem;
                padding-bottom: 1rem;
                hyphens: none;
            }
            :global(.about-paragraph) {
                font-size: 1rem;
                line-height: 1.7;
                :global(a) {
                    padding-top: 20px;
                    display: inline-block;
                    font-size: smaller;
                    color: var(--highlight-color);
                    text-decoration: underline;
                    text-underline-offset: 8px;
                }
            }

            @media only screen and (max-width: v.$breakpoint-lg) {
                text-align: center; max-width: none !important;
                padding: 0 20px;
            }
        }
        @media only screen and (max-width: 200px) {
            margin-inline: unset;
            max-width: initial;

            .content {
                h2, :global(p) { hyphens: auto; }
            }
        }

        .spotify-wrapper {
            display: none;
        }
    }

    // * Songs section
    .songs {
        text-align: center;

        :global(ul) {
            $min-width: 250px;
            padding: 0 20px 0 20px;
            list-style: none;
            padding-top: 50px;
            gap: 30px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            @media only screen and (max-width: $min-width) {
                :global(li) {
                    min-width: initial !important;
                }

                padding: 0;
            }

            :global(li) {
                padding: 35px 0 35px 0;
                flex-basis: 30%;
                flex-grow: 1;
                min-width: $min-width;
            }
        }
    }

    // * Teach section
    .teach {        
        .content {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 100px;

            p {
                margin-inline: auto;
                max-width: 80%;
                font-size: 1.1rem;
                line-height: 1.7;
                span {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 35px;
                    font-size: 1.2em;
                    padding-top: 60px;
                    line-height: initial;

                    a {
                        $scale: 48;
                        $scale-px: $scale * 1px;
                        $url1: "https://img.icons8.com/ios-filled/#{$scale}/FFFFFF/musical-notes.png";
                        $url2: "https://img.icons8.com/android/#{$scale}/FFFFFF/musical-notes.png";
                        $hue: 10%;
                        $extra-margin: 20px;

                        display: block;
                        width: fit-content;
                        max-width: 380px;
                        text-decoration: none;
                        background-color: var(--highlight-color);
                        color: var(--contrast-color);
                        padding: 15px;
                        border-radius: v.$normal-border-radius;
                        position: relative;
                        transition: box-shadow 200ms ease;

                        &::before, &::after {
                            content: "";
                            // z-index: -1;
                            position: absolute;
                            display: block;
                            width: $scale-px;
                            height: $scale-px;
                            background-color: hsl(var(--hue) $hue 50%);   
                            mask-size: cover;
                            -webkit-mask-size: cover;                    
                            animation: rainbow 5s linear infinite;

                            // Before :hover
                            opacity: 0;
                            visibility: hidden;
                            transition: all 400ms;

                        }
                        // Before :hover
                        &::before {
                            transform: translate(-100%, 100%);
                        }
                        &::after {
                            transform: translate(100%, -100%);
                        }

                        // :hover
                        &:hover, &:focus {
                            &::before, &::after {
                                opacity: 1;
                                visibility: visible;
                                transform: translate(0);
                            }
                            &::before { rotate: 15deg; }
                            &::after { rotate: -15deg; }
                            box-shadow: v.$github-box-shadow;
                        }

                        &::before {
                            @include m.icon-pseudo(
                                $url: $url1,
                                $hue: $hue,
                                $extra-margin: $extra-margin,
                                $scale: $scale-px,
                                $negative: true
                            );
                            right: -55px;
                        }
                    
                        &::after {
                            @include m.icon-pseudo(
                                $url: $url2,
                                $hue: $hue,
                                $extra-margin: $extra-margin - $scale-px,
                                $scale: $scale-px,
                                $negative: false
                            );
                            left: -55px;
                        }
                    }
                }
            }
            .video-container {
                position: relative;
                width: clamp(200px, 95%, 1200px);
                aspect-ratio: 16 / 9; /* Maintains 16:9 ratio */
                margin: 0 auto; /* Centers the video */
                box-shadow: var(--secondary-color) 0px 20px 30px -10px;
                
                & * { max-width: none !important; }
            }
            .testimonials {
                h3 { padding-bottom: 30px }
                padding: 0 20px;
                .wrapper {
                    @include m.center-flex();
                    align-items: stretch;
                    flex-wrap: wrap;
                    gap: 20px;
                }
            }
        }
    }
}