@use "@styles/variables" as v;
@use "@styles/mixins" as m;

main {
    // * Apresentation section
    .apresentation {
        width: 100%;
        $height: v.$apresentation-height;

        .content {
            height: $height;

            .bg-container {
                height: 100%;
                .overlay {
                    height: v.$apresentation-height;
                }
                img {
                    position: fixed;
                    filter: blur(0.5px);
                    z-index: -2;
                    height: 100dvh;
                    top: 0;
                    user-select: none;
                }
            }

            .author {
                // TODO: box-shadow/text-shadow text CSS
                opacity: 0; // Only appears after animation
                width: fit-content;
                position: absolute;
                z-index: 2;
                font-size: clamp(2.5rem, 5vw, 4.5rem);
                bottom: 20%;
                left: clamp(30px, 10%, 500px);
            }

            // For scrollDown.astro component
            .scroll-container {
                @include m.center-hr(fixed);
                bottom: 0;
            }
        }
        // * Parallax effect
        .parallax {
            // perspective: 1px;
            // transform-style: preserve-3d;

            .parallax__fixed {
                z-index: -2;
            }
        }
    }
}

@media only screen and (max-width: v.$breakpoint-sx) {
    main .apresentation .content .author {
        opacity: 0.8;
        margin-top: clamp(100px, 17.5%, 400px);
        text-align: center;
        bottom: initial !important;
        @include m.center(absolute);
    }
}