/*
    * Collor pallete
    * Using Monochromatic colors of green
*/
$primary-color: #004953; // Midnight green - rgb(0, 73, 83)
$secondary-color: #B2C9AB; // Celadon - rgb(178, 201, 171)
$third-color: #008B8B; // Dark cyan - rgb(0, 139, 139)
$fourth-color: #006D6F; // Caribbean Current - rgb(0, 109, 111)
$highlight-color: #FA8334; // Pumpkin - rgb(250, 131, 52)
$white-color: #FFFAFA; // Snow - rgb(255, 250, 250)
$black-color: #333333; // Dark slate gray - rgb(51, 51, 51)

// * Common breakpoints for responsiveness
$breakpoint-sx: 345px;  // smaller
$breakpoint-sm: 602px;  // small
$breakpoint-md: 768px;  // medium
$breakpoint-lg: 992px;  // large
$breakpoint-xl: 1200px; // extra-large

$navbar-breakpoint: $breakpoint-lg;
$h1-breakpoint: $breakpoint-sx + 20px;

$overlay-opacity: 0.4;

// * Font family - Poppins + Merriweather
// Default values in :root
$font-family: "Poppins", sans-serif;
$font-style: normal;

:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --third-color: #{$third-color};
    --fourth-color: #{$fourth-color};
    --highlight-color: #{$highlight-color};
    --white-color: #{$white-color};
    --black-color: #{$black-color};

    font-family: $font-family;
    font-style: $font-style;
    font-size: 16px;
    // font-size: size(regular1);
    background-color: var(--fourth-color);
    color: var(--white-color);

    // --sx-breakpoint: #{$breakpoint-sx};
    // --sm-breakpoint: #{$breakpoint-sm};
    // --md-breakpoint: #{$breakpoint-md};
    // --lg-breakpoint: #{$breakpoint-lg};
    // --xl-breakpoint: #{$breakpoint-xl};
}
