// * Forward .scss files
@forward './variables';

// * Resets
*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    overflow: hidden;
}

// Hides SEO things
.sr-only {
	position: fixed !important;
	top: -100% !important; 
	left: -100% !important;
	opacity: 0 !important;
}

// Hides title="" HTML atribute
.hide-title.title {
	visibility: hidden !important;
}

// body, html {
// 	min-height: 100%;
// 	min-width: 100%;
// }

/*
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
*/