@use "@styles/variables" as v;

// * .pseudo-link
$color: var(--white-color);
$height: 2px;

@mixin hover-animation {
    color: $color;
    &::before {
        transform: scaleX(1);
    }
}

.pseudo-link {
	position: relative;
	transition: color .3s ease-in-out;
	
	&::before {
		content: '';
		position: absolute;
		top: 100%;
		width: 100%;
		height: $height;
		background-color: $color;
		transform: scaleX(0);
		transition: transform .3s ease-in-out;
        // z-index: 100;
	}
}

.pseudo-link:hover, .pseudo-link:focus, header[data-style="Header"] .last-clicked {
    @include hover-animation()
}

// * .overlay
.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: v.$overlay-opacity;
	background-color: black;
}