---

import { Picture } from 'astro:assets';
import AuthorHeader from '@components/ts/authorHeader';
import ScrollAnimation from '@components/ts/scrollAnimation';
import ScrollDown from '@components/astro/scrollDown.astro';
import AboutParagraph from '@components/astro/aboutP.astro';
// import "@styles/_pages/index.scss"; // * Import like this if global styles

import Imgs from '@data/imgs';
const { background } = Imgs.cdn;

// import test from "@assets/test.png"
---

<main
    itemprop="mainEntity" itemscope itemtype="https://schema.org/MusicArtist"
>

    {/* Apresentation section - User enters and see this */}
    <section
        class="apresentation"
        id="apresentation"
        itemscope
        itemtype="https://schema.org/CreativeWork"
        aria-labelledby="apresentation-heading"
        aria-label="apresentation-heading"
    >
        <div class="content parallax">
            <div class="bg-container paralax__bg">
                <div aria-hidden="true" class="overlay"></div>
                <Picture
                    class="parallax__fixed"
                    src={background}
                    alt="André Valério - Musician and Composer"
                    title="André Valério - Musician and Composer"
                    fit="cover"
                    layout="full-width"
                    priority
                    inferSize
                    {/* Item atributes for SEO */}
                    itemtype="https://schema.org/ImageObject"
                    itemprop="contentUrl"
                    contentUrl={background}
                    itemprop="author"
                    content="André Valério"
                    itemprop="description"
                    content="André Valério, musician and composer, captured in his natural environment."
                />
                <div aria-hidden="true" class="scroll-container parallax__fixed">
                    <ScrollDown style="opacity: 0.3;" />
                </div>
            </div>
            
            <div class="paralax__hero">
                <ScrollAnimation client:load repeat={true} >
                    <AuthorHeader headingLevel={2} hideJob={false} data-style="presentation-header" />
                </ScrollAnimation>
            </div>

            {/*
                <style lang="scss" is:global> @forward "@styles/_components/Paralax.scss"; </style>
            */}
        </div>

    </section>

    <div class="main-content">

        {/* About section - Tells user who is André Valério */}
        <section
            class="about"
            id="about"
            itemscope
            itemtype="https://schema.org/Person"
            aria-labelledby="About"
        >
            <div class="content">
                <h2>
                    Who is <span
                        itemprop="name" itemtype="https://schema.org/name"
                    >
                    An&shy;dré Valé&shy;rio?</span>
                </h2>

                <h3 class="sr-only">About me</h3>
                <ScrollAnimation className="highlight-animation" threshold={0.2} client:load  >
                    <AboutParagraph />
                </ScrollAnimation>
            </div>

            {/* Maybe more content in future */}
        </section>

        {/* Songs section using Spotify API */}
        <section
            id="songs"
            class="songs"
            {/* TODO: Make SEO better */}
        >
        <h2>Songs/Albums</h2>

        <div class="content">
            {/* Songs and Albums using Spotify API */}
        </div>
        </section>

    </div>
</main>

{/* Need for scoped styles... */}
<style lang="scss" > @forward "@styles/_pages/index"; </style>