---

import AuthorHeader from '@components/authorHeader';
import Imgs from '@data/imgs';

---

<main style="height: 2000vh;">
    <section 
        class="apresentation"
        {/* TODO: Make SEO atributes */}
    >
        <div class="content">
            <img 
                src={Imgs.cdn.background} alt="André Valério photo" sizes="" srcset=""
                {/* TODO: Make SEO  atributes*/}
            >
            <AuthorHeader headingLevel={2} />

            {/*	
                TODO: Scroll gif
                <img src="" alt="" >
            */}
        </div>

    </section>
</main>