---
import { Image, inferRemoteSize } from 'astro:assets';
import AuthorHeader from '@components/authorHeader';
// import "@styles/_pages/index.scss"; // * Import like this if global styles
import Imgs from '@data/imgs';
const { background } = Imgs.cdn;

const {width, height} = await inferRemoteSize(background);
---

<main style="height: 2000vh;">
    <section 
        class="apresentation"
        {/* TODO: Make SEO atributes */}
    >
        <div class="content">
            <Image 
                src={background}
                alt="André Valério photo"
                width={width}
                height={height}
                {/* TODO: Make SEO  atributes*/}
            />
            <AuthorHeader headingLevel={2} />

            {/*	
                TODO: Scroll gif
                <img src="" alt="" >
            */}
        </div>

    </section>
</main>

{/* Need for scoped styles... */}
<style lang="scss">@forward "@styles/_pages/index";</style>