---
import { Image } from 'astro:assets';
import Imgs from '@data/imgs';

const { logo } = Imgs.cdn;
---

<div class="logo hide-title" itemscope itemtype="https://schema.org/Organization">
    <Image 
        src={logo}
        alt="Logo André Valério"
        title="Website Logo" 
        aria-label="Website Logo" 
        itemtype="https://schema.org/image" 
        itemprop="logo"
        loading="eager"
        inferSize
    />
</div>