---
import { Image, inferRemoteSize } from 'astro:assets';
import Imgs from '@data/imgs';

const {width, height} = await inferRemoteSize(Imgs.cdn.logo);
---

<div class="logo hide-title" itemscope itemtype="https://schema.org/Organization">
    <Image 
        src={Imgs.cdn.logo}
        alt="Logo André Valério"
        title="Website Logo" 
        aria-label="Website Logo" 
        itemtype="https://schema.org/image" 
        itemprop="logo"
        height={height}
        width={width}
    />
</div>