<div class="logo hide-title" itemscope itemtype="https://schema.org/Organization">
    <img src="https://placehold.jp/48x48.png" title="Website Logo" aria-label="Website Logo" itemtype="https://schema.org/image" itemprop="logo" alt="Logo André Valério">
</div>