<div>
    <h1><a href="https://andrevalerio.com/" target="_blank">André Valerio</a></h1>
    <br>
    <br>
    <h2>future website</h2>
</div>

<style>
    div {
        font-size: 2.5rem;
    }
</style>