---
import Pages from "@data/pages";
---

<p
    class="about-paragraph"
    id="about-p"
    itemscope
    itemtype="http://schema.org/about"
>
    <strong itemprop="name">André Valério</strong> is a 
    <strong itemprop="nationality" lang="en">Brazilian-born</strong> 
    <strong itemprop="jobTitle">guitarist</strong> and 
    <strong itemprop="jobTitle">composer</strong> based in Toronto, known for his 
    <span itemprop="skills">expressive playing</span>, 
    <strong itemprop="workPerformed">heartfelt compositions</strong>, and 
    <strong itemprop="passion">passion for teaching</strong>. A key figure in Canada’s 
    <span itemprop="genre">jazz</span> and 
    <strong itemprop="genre">Brazilian music</strong> scenes, he performs with 
    <strong itemprop="band">award-winning group Tio Chorinho</strong> and leads the cross-cultural 
    <strong itemprop="band">Ona Ensemble</strong>.
    Whether on stage, in the studio, or in the classroom, 
    <span itemprop="name">André</span> brings 
    <strong itemprop="skills">warmth</strong>, 
    <strong itemprop="skills">depth</strong>, and 
    <strong itemprop="skills">creativity</strong> to everything he does.
    <br>
    <a href={Pages.about} itemprop="url"><b>Read more about André</b></a>
</p>

<style lang="scss" is:global >
$mark_quantity: 15; // Number of <strong> elements to animate
$color: var(--secondary-color, black);

@keyframes highlight {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

.about-paragraph#about-p {
    strong {
        background: linear-gradient(
            to right,
            $color 50%,
            oklch(0.86 0.19 84.89 / 0) 50%
        );
        background-position: 100%;
        background-size: 200% 100%;
        border-radius: 0.125rem;
        padding-inline: 0.125rem;
        animation: none;
    
        .visible & {
            animation: highlight .5s linear forwards;
        }
    }
}

@for $i from 1 through $mark_quantity {
    .about-paragraph#about-p strong:nth-child(#{$i}) {
        animation-delay: #{200ms * $i};
    }
}
  
</style>