---

import { Picture } from 'astro:assets';

import { author } from "@data/author"
import { getSpotifyToken } from "@utils/Spotify"

// Spotify Access token for API calls
const accessToken = await getSpotifyToken();

const id = author.spotifyId

const artistURL = `https://api.spotify.com/v1/artists/${id}`

// Fetch artist data from Spotify API
const response = await fetch(artistURL, {
    headers: {
        Authorization: `Bearer ${accessToken}`,
    },
});
const artist = await response.json();

// const artistImage = artist.images[0] || { url: imgs.cdn.backgroundMobile, width: 300, height: 300 };

console.debug(artist)

---

<div class="artist">
    <Picture
        src={artist.images[0]?.url}
        alt={artist.name}
        inferSize
        layout={"responsive"}
        {/* TODO: SEO things... */}
    />
</div>

  

<style lang="scss">
    @use "@styles/variables" as v;
    @use "sass:color";

    $box-shadow: color.adjust(v.$secondary-color, $alpha: -0.35);
    .artist {
        padding: 10px;
        img {
            // object-fit: contain;
            background-color: rgba(0, 0, 0, 0);
            box-shadow: $box-shadow 0px 50px 100px -20px, color.adjust($box-shadow, $alpha: 0.5) 0px 30px 60px -30px, color.adjust($box-shadow, $alpha: 0.6) 0px -2px 6px 0px inset;
            border-radius: v.$normal-border-radius;
        }
    }
</style>