---

import { author } from "@data/author"
import imgs from "@data/imgs"
import { getSpotifyToken } from "@utils/Spotify"

// Spotify Access token for API calls
const accessToken = await getSpotifyToken();

const id = author.spotifyId

const artistURL = `https://api.spotify.com/v1/artists/${id}`

// Fetch artist data from Spotify API
const response = await fetch(artistURL, {
    headers: {
        Authorization: `Bearer ${accessToken}`,
    },
});
const artist = await response.json();

console.debug(artist)

---

<div class="author-card">
    <div class="author-header">
        <img
            src={artist.images[0]?.url || imgs.cdn.backgroundMobile} 
            alt={artist.name} 
            class="author-image"
        />
        <div class="author-info">
            <h2>{artist.name}</h2>
            <p class="genres">
                {artist.genres.join(", ")}
            </p>
        </div>
    </div>


</div>

<style lang="scss" >

</style>