---
import { Image } from 'astro:assets';
import logoImage from '@assets/favicon-96x96.png';

const size = 48;
---

<div class="logo hide-title"  itemscope itemtype="https://schema.org/Organization">
    <Image 
        src={logoImage}
        alt="Logo André Valério"
        title="Website Logo" 
        aria-label="Website Logo" 
        itemtype="https://schema.org/logo" 
        itemprop="logo"
        loading="eager"
        width={size}
        height={size}
    />
</div>