---

/* 
    Displays oEmbed Albums with Spotify API
*/

import { fetchOEmbedData } from "@utils/Spotify";

const { release_date, id, render = true } = Astro.props as { 
    release_date: string; 
    id: string; 
    render?: boolean; 
};

const oEmbedUrl = `https://open.spotify.com/oembed?url=https://open.spotify.com/album/${id}`;

const spotifyData = await fetchOEmbedData(oEmbedUrl);
// console.debug(spotifyData)

---

<div class="album">
    {render ?
        <div>
            <h3>{spotifyData.title}</h3>
            <p>{release_date}</p>
        </div>
    : null}
    <div set:html={spotifyData.html} class="spotify-wrapper"></div>
    {/* TODO: make albuns playable with URL params */}
</div>

<style lang="scss">
    @use '@styles/variables' as v;

    .spotify-wrapper { overflow: hidden; }
    .spotify-wrapper :global(iframe) {
        height: 600px !important;
        &:hover {
            box-shadow: v.$github-box-shadow;
        }
        transition: box-shadow 200ms;
    }
</style>